<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/formstyle.css}">
    <title>Document</title>
</head>
<body>

<div class="form-container">
    <h2 class="form-title">Staff details</h2> <!-- Title added here -->
    <form class="responsive-form" method="post" th:object="${formstaff}">
        <div class="form-group">
            <label for="StaffName">Name:</label>
            <input type="text" id="StaffName" th:field="*{StaffName}" placeholder="Staff Name..." required>
        </div>
        <div class="form-group">
            <label for="StaffTitle">Title:</label>
            <input type="text" id="StaffTitle" th:field="*{StaffTitle}" placeholder="Staff Title..." required>
        </div>
        <div class="form-group">
            <label for="StaffSalary">Salary:</label>
            <input type="text" id="StaffSalary" th:field="*{StaffSalary}" placeholder="Staff Salary..." required></input>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>